.env
.cache/
.coverage
.storybook-out/
.DS_Store
.venv
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
/.artifacts
/coverage/
/cover
/build
/dist
/env
/tmp
node_modules
.idea/
*.iml
.vscode/tags
package-lock.json


